[sssd]
debug_level = 2
config_file_version = 2
domains = <%= @domain.to_s.downcase %>
services = nss, pam, pac, ifp

[nss]
debug_level = 2

[domain/<%= @domain.to_s.downcase %>]
debug_level = 2
entry_cache_timeout = 5400
id_provider = ad
auth_provider = ad
chpass_provider = ad

cache_credentials = true
case_sensitive = false
krb5_auth_timeout = 30
dns_resolver_timeout = 30
enumerate = true
create_homedir = true
default_shell = /bin/bash
override_homedir = /home/%u
base_directory = /home
skel_dir = /etc/skel

access_provider = simple
<% if !@allow_users.empty? -%>
simple_allow_users = <%= @allow_users.join(",") %>
<% end -%>
<% if !@allow_groups.empty? -%>
simple_allow_groups = <%= @allow_groups.join(",") %>
<% end -%>

<% if @idmap == 'True' -%>
ldap_id_mapping = True
ldap_schema = ad
ldap_idmap_range_min = <%= @idmap_range_min %>
ldap_idmap_range_max = <%= @idmap_range_max %>
ldap_idmap_autorid_compat = True
ldap_idmap_default_domain = <%= @domain.to_s.downcase %>
ldap_idmap_default_domain_sid = <%= @domain_sid.to_s %>
<% end -%>

dyndns_update = true
dyndns_refresh_interval = 86400
dyndns_update_ptr = true
dyndns_ttl = 1200


